.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}
.listSearch{
    flex: 1;
    background-color: #bfbcbc;
    padding: 10px;
    border-radius: 10px;
    height: max-content;
    position: sticky;
    top: 10px;
}

.lsTitle{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.lsItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
.lsItem > label {
    font-size: 12px;
    color: white;
    font-weight: bold;
}
.lsItem > input {
    border: none;
    padding: 5px;
    border-radius: 5px;
    height: 30px;
}
.lsItem > span{
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
} 

.lsOptions{
    padding: 10px;
}
.lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    gap: 5px;
}

.lsOptionInput{
    width: 50px;
    border: none;
    border-radius: 3px;
}

.listSearch > button{
    padding: 10px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.listResult{
    flex: 3;
}